body{
    background-color: black;
}

h1{
    color: aqua;
}
easydifficultybutton{
    text-align: center;
    position: absolute;
    background-color: #0ADD08;
    font-size: 50px;
    top:300px;
    width: 300px;
    left:190px;
    border-radius: 14px;
    font-family:monospace;
}
easydifficultybutton:hover{
    background-color: #00FF15;
    cursor: pointer;
    animation-name: expand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes expand{
    0%{
        width: 300px;
    } 
    50%{
        width: 500px;
        backgroundcolor: #00FF15;
    }
    100%{
        width: 1000px;
    }
}
        
    

mediumdifficultybutton{
    text-align: center;
    position: absolute;
    background-color: #ffbf00;
    font-size: 50px;
    width:300px;
    top:300px;
    left:500px;
    border-radius: 14px;
    font-family:monospace;
}
mediumdifficultybutton:hover{
    background-color: #ffd633;
    cursor: pointer;
}
harddifficultybutton{
    text-align: center;
    position: absolute;
    background-color: #cc0000;
    font-size: 50px;
    top:300px;
    width: 300px;
    left:810px;
    border-radius: 14px;
    font-family:monospace;
}
harddifficultybutton:hover{
    background-color: #ff1a1a;
    cursor: pointer;
}
